body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 320px;
    padding: 20px;
    /* background-color: rgba(191, 232, 240, 0.9); */
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(1, 6, 73, 0.5);
    text-align: center;
    /* Add the weather background image */
    background-image: 
    linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
    url('https://t4.ftcdn.net/jpg/04/61/23/23/240_F_461232389_XCYvca9n9P437nm3FrCsEIapG4SrhufP.jpg');
    background-size: cover; /* Adjusts the background image size to cover the entire container */
}


h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

input[type="text"] {
    width: 90%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.weather-info {
    margin-top: 20px;
}

#temperature {
    font-size: 24px;
    font-weight: bold;
}

#description{
    margin-top: 10px;
    font-size: 18px;
    color: #666;
}
#wind{
    margin-top: 0px;
    color: #666;
}
#country{
    margin-top: 5px;
    font-size: 20px;
    
}
